{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}

<div class="container">
    
    <div class="vmachine-text">Конфигурации виртуальных машин</div>
 
    <div class="cart-container">
        <a href="vmachine-cart/{{ cart_url.id }}">
        <div class="cart-icon">
            <img src="http://127.0.0.1:9000/vmachines/cart.jpg" alt="Корзина">
            <span class="cart-count">{{ cart_url.total }}</span>
        </div>
    </a>
    </div>

    <div class="col-md-4 mb-4">
        <div class="filter-container">
            <form method="get" action="">
                <label for="price-range" class="filter-label">Диапазон цены:</label>
                <input type="range" id="price-range" name="max_price" min="0" max="100000" step="50" value="{{ max_price }}" class="price-slider">
                <div class="price-value">Цена: <span id="price-value">{{ max_price }}</span> ₽</div>
                <button type="submit" class="btn btn-primary filter-button">Применить фильтр</button>
            </form>
        </div>
    </div>
    <div class="card-container">
        {% for vmachine in vmachines %}
            
                {% include 'vmachine_element.html' with element=vmachine %}
            
        {% empty %}
            <div class="empty-list">Список пуст</div>
        {% endfor %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const priceRange = document.getElementById('price-range');
        const priceValue = document.getElementById('price-value');
    
        // Обновление значения при изменении ползунка
        priceRange.addEventListener('input', function() {
            priceValue.textContent = priceRange.value;
        });
    });
    </script>
{% endblock %}
